@import'../../src/L.Rain.css';

html, body {
    width: 100%;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    background-color: white;
    font-family: Arial;
}

#wrap {
    width: 100%;
    height: 100%;
    margin: 0;
}

#left-panel {
    /* display: none; */
    width: 300px;
    height: 100%;
    float: left;
}

#map {
    height: 100%;
}

#content {
    margin: auto;
}

.header {
    text-align: center;
}
